<!DOCTYPE html>
<html lang="en">
<head>
<meta charset='utf-8'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="description" content="{{ site.desc }}">
<meta name="keywords" content="DaVinci's Pizzeria, restuarant, pizza, subs, hoagies, wings, Bel Air, Bel Air Plaza, Cumberland, LaVale, MD, Maryland">
<title>{{ site.title }} - {{ site.phone }} - {{ site.address }}</title>
<link href="/favicon.ico" rel="Shortcut Icon">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="css/davincis.css"/>
<link media="print" href="css/print.css" type="text/css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-20036141-2']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
</head>
<body>
	<section id="banner">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span6">
					Dine In, Carry Out, and Delivery - 301-729-8111
				</div>
				<div class="span6">
					<div class="pull-right">16105 McMullen Highway (Bel Air Plaza) Cumberland, MD 21502</div>
				</div>
			</div>
		</div>
	</section>
	<header>
		<section class="container-fluid">
			<div class="row-fluid">
				<div class="span6" id="logo-container">
					<a href="index.php"><img alt="Davinci's Pizzeria" id="logo" src="images/logo.png" /></a>
				</div>
				<nav class="span6 ">
					<ul class="pull-right" id="nav_main">
						<li><a href="index.html">Home</a></li>
						<li><a href="https://www.toasttab.com/davinci-s-pizzeria">Menu</a></li>-->
						<li><a href="location.html">Location</a></li>
					</ul>
				</nav>
		</section>
	</header>
